body {
    margin: 0;
    background-color: #f0f7f8;
    font-family: Arial, sans-serif;
    color: #333;
}

header,
main,
footer {
    width: 900px;
    margin: auto;
    box-sizing: border-box;
}


/* ================= HEADER ================= */

header {
    height: 80px;
    background-color: #9bdede;
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

header img {
    width: 200px;
    height: 60px;
    object-fit: contain;
}

header h1 {
    font-size: 24px;
    margin-left: 20px;
}


/* ================= NỘI DUNG CHÍNH ================= */

main {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* ================= THÔNG TIN SẢN PHẨM ================= */

.thongtin {
    width: 65%;
    box-sizing: border-box;
}

.thongtin h2 {
    color: #333;
    font-size: 20px;
    margin-top: 0;
    border-bottom: 2px solid #39aaa7;
    padding-bottom: 8px;
}

.sanpham {
    display: flex;
    gap: 20px;
}

.sanpham img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.mota {
    flex: 1;
}

.mota p {
    font-size: 13px;
    line-height: 1.5;
}


/* ================= BẢNG ================= */

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin-top: 10px;
}

caption {
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
}

th,
td {
    border: 1px solid #b8d9d9;
    padding: 7px;
    text-align: left;
}

thead th {
    background-color: #72c9c7;
    color: white;
}

tbody th {
    background-color: #e5f5f5;
}


/* ================= ASIDE ================= */

aside {
    width: 30%;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fafafa;
}

aside h3 {
    margin-top: 0;
    color: #333;
    font-size: 16px;
    border-bottom: 2px solid #39aaa7;
    padding-bottom: 7px;
}

aside ul {
    padding-left: 20px;
}

aside li {
    margin-bottom: 12px;
    font-size: 13px;
}



.tuongtu {
    width: 65%;
}

.tuongtu h2 {
    font-size: 18px;
    border-bottom: 2px solid #39aaa7;
    padding-bottom: 7px;
}

.tuongtu ol {
    padding-left: 25px;
}

.tuongtu li {
    padding: 8px;
    font-size: 13px;
}



footer {
    background-color: #0d5b6d;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}

footer address {
    font-style: normal;
    line-height: 1.6;
}